# Конфигурация для запуска сценариев
AddType text/html .shtml
AddOutputFilter INCLUDES .shtml
AddHandler cgi-script .cgi
Options -IncludesNoExec +Includes +ExecCGI

# Настройка кэша
ExpiresActive On
ExpiresByType image/png "access plus 30 days"
ExpiresByType text/css "access plus 30 days"
CacheEnable disk /panel/image.cgi
CacheHeader on
CacheDefaultExpire 2592000
CacheIgnoreCacheControl On
CacheStorePrivate On
