.codeblock {
  display: inline-block;
}
.error {
  background: #f2dede;
  border-radius: 5px;
  padding: 7px;
}
.error :first-child {
  font-weight: bold;
  margin-top: 0px;
}

figure {
  display: inline-block;
  margin: 5px;
}
.sticker img {
  display: inline-block;
  height: 120px;
}
.sticker img, .edit-form input, .edit-form textarea {
  box-sizing: border-box;
  width: 120px;
}

.detele-form {
  position: relative;
}
.detele-form input {
  position: absolute;
  bottom: 100%;
  right: 0px;
}
