.codeblock {
  display: inline-block;
}
.error {
  background: #f2dede;
  border-radius: 5px;
  padding: 7px;
}
.error :first-child {
  font-weight: bold;
  margin-top: 0px;
}

.data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
figure {
  margin: 5px;
}
.sticker {
  height: 128px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.sticker img {
  max-width: 128px;
}
.edit-form input, .edit-form textarea {
  box-sizing: border-box;
  width: 128px;
}

.detele-form {
  position: relative;
}
.detele-form input {
  position: absolute;
  bottom: 100%;
  right: 0px;
}
