.error {
  background: #f2dede;
  border-radius: 5px;
  padding: 7px;
}

.data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
figure {
  margin: 5px;
}
.sticker {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  /* выравнивает подписи незагруженных картинок */
  margin-bottom: 5px;
  overflow: hidden;  /* слишком длинные описания будут обрезаться */
}
.sticker img {
  max-height: 128px;
  max-width: 128px;
}
.edit-form input, .edit-form textarea {
  box-sizing: border-box;
  width: 128px;
}

.delete-form {
  position: relative;
}
.delete-form input {
  position: absolute;
  bottom: 100%;
  right: 0px;
  opacity: 0;
}
.sticker:hover ~* .delete-form input,
.delete-form input:hover, .delete-form input:focus {
  opacity: 1;
}

figure {
  position: relative;
}
.veil {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;

  display: flex;
  text-align: center;
  align-items: center;

  background: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.veil.shown {
  visibility: visible;
  opacity: 0.8;
}
